footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  border-top: 2px solid #e8f1f2;
}

p {
  margin: 0;
}

.questions-link {
  text-decoration: none;
}

.questions-link:hover {
  color: #484848;
}
