<div class="container h-100" >
    <div class="row justify-content-center align-items-center h-100">
        <div *ngIf="user" class="col offset-md-3 text-center" ng-app="SigninForm">
            <mat-card class="signup" align="center">
                <mat-toolbar>
                  <div class="md-toolbar-tools">
                    <h2><span>Signup</span></h2>
                  </div>
                </mat-toolbar>
                <mat-card-content>
                    <form (submit)="signup()">
                      <br *ngIf="show" />
                      <div *ngIf="show" class="alert alert-warning" role="alert">
                          {{errorMessage}}
                      </div>	
                      <br />
                      <mat-form-field class="md-block">
                        <input type="text" matInput name="fullName" placeholder="Enter your full name" [(ngModel)]="newUser.fullName" required="" />
                      </mat-form-field>
                   
                      <mat-form-field class="md-block">
                        <input type="email" matInput name="username" placeholder="Enter email" [(ngModel)]="newUser.username" required="" />
                      </mat-form-field>
                      
                      <mat-form-field class="md-block">
                        <input type="password" matInput name="password" placeholder="Password" [(ngModel)]="newUser.password" required="" />
                      </mat-form-field>
                      
                      <div class="md-block">
                        <button mat-raised-button type="submit" color="primary">Register</button>
                      </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>

        <div *ngIf="!user">
            Invalid Page
        </div>
    </div>
</div>
