<div class="container">
    <div class="parents" *ngIf="bracket.a && bracket.level!=displayUntil">
        <app-bracket class="bracket-above"
            [bracket]="bracket.a"
            [displayUntil]=displayUntil></app-bracket>
        <app-bracket class="bracket-below"
            [bracket]="bracket.b"
            [displayUntil]=displayUntil></app-bracket>
    </div>
    <div class="team-name " (click)="onSelect(bracket.name)"
         [class.selected]="bracket.name !='???' && bracket.up && bracket.name == bracket.up.name"
         [class.impossible]="bracket.impossible"
         [ngClass]="{'top':top}">
    {{bracket.name}}
        <span *ngIf="bracket.level!=64 && bracket.name !='???'" class="x-button" (click)="clear()">&otimes;</span>
    </div>
</div>
