<div class="select-team-container">
  <div class="team-row">
    <div class="team">
      <h3>Michigan</h3>
      <img class="team-logo" src="../../assets/img/teams/michigan.png" />
    </div>

    <div class="team">
      <h3>LSU</h3>
      <img class="team-logo" src="../../assets/img/teams/lsu.png" />
    </div>
    <div class="team">
      <h3>Michigan</h3>
      <img class="team-logo" src="../../assets/img/teams/michigan.png" />
    </div>

    <div class="team">
      <h3>LSU</h3>
      <img class="team-logo" src="../../assets/img/teams/lsu.png" />
    </div>
  </div>
</div>
