.boxselect{
    margin-top: 20px;
    width: 250px;
}
.boxselect .team{
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    float: left;
    padding: 10px;
}
.selected{
    background-color: #ccc;
}
.impossible{
    color: red;
}
