<div class="standings-container">
  <h1 class="section-title">Standings</h1>

  <div class="standings-row">
    <div class="standings-user-info">
      <h3 class="standings-user-name">Chasen Bettinger</h3>
      <span class="standings-total-points">000</span>
    </div>
    <div draggable="true" drag-scroll class="standings-selections">
      <h3>Michigan</h3>
      <h3>Michigan</h3>
      <h3>Michigan</h3>
      <h3>Michigan</h3>
      <img src="../../assets/img/teams/michigan.png" alt="Michigan Logo">
      <img src="../../assets/img/teams/michigan.png" alt="Michigan Logo">
      <img src="../../assets/img/teams/michigan.png" alt="Michigan Logo">
      <img src="../../assets/img/teams/michigan.png" alt="Michigan Logo">
    </div>
  </div>
</div>
