.createcontestform{
    max-width: 1500px;
    min-width: 600px;
    width: 100%;
    padding: 10px;
}
table{
    width: 100%;
}
mat-radio-group.mat-input-invalid{
    border-bottom: 1px solid #f44336;
}
