<div *ngIf="user">
    <router-outlet></router-outlet>
    <form class="createcontestform" [formGroup]='contestform'>
		<div>
			<mat-form-field class="yearfield">
				<input matInput type="number" placeholder="Year" formControlName="year" (change)="yeargenderchange()">
			</mat-form-field>
		</div>
		<div class="start-end-container">
			<mat-form-field>
				<input matInput required [matDatepicker]="startPicker"
				placeholder="Choose a start date" [min]="minStartDate"
				[max]="maxStartDate"  formControlName="startDate">
				<mat-datepicker-toggle matSuffix
				[for]="startPicker"></mat-datepicker-toggle>
				<mat-datepicker (selectedChanged)="onDatePickerChange($event)" #startPicker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<input matInput required [matDatepicker]="endPicker"
				placeholder="Choose an end date" [min]="minEndDate"
				[max]="maxEndDate" formControlName="endDate">
				<mat-datepicker-toggle matSuffix
				[for]="endPicker"></mat-datepicker-toggle>
				<mat-datepicker #endPicker></mat-datepicker>
			</mat-form-field>
		</div>
        <mat-radio-group formControlName="gender" [ngClass]="genderClass()" (change)="yeargenderchange()">
            <mat-radio-button value="Women">Women</mat-radio-button>
            <mat-radio-button value="Men">Men</mat-radio-button>
        </mat-radio-group>
        <div>
            Regions
            <div><small>Drag and drop the regions in the following list into the proper order. In the final four, region 1 will face region 2 and region 3
                        will face region 4.</small></div>
        </div>

<div [sortablejs]="regions" id="region-sort">
    <mat-card *ngFor="let region of regions; let i = index" class="region-card">{{i + 1}} {{region}}</mat-card>
</div>
		<table>
            <tr *ngFor="let seed of seeds">  
                <td *ngFor="let region of regions">
                <mat-form-field class="dropdown-full-width"><!-- [ngClass]="fieldCss(seed, region)"-->
                <input matInput [placeholder]="seed+region" aria-label="Team"
                      [matAutocomplete]="auto" [formControlName]="seed+region" (focus)="fieldFocused(seed, region)"><!---->
                </mat-form-field>
            </tr>  
        </table>
        <mat-autocomplete #auto="matAutocomplete"  autoActiveFirstOption >
          <mat-option *ngFor="let team of filteredTeams| async" [value]="team.name">
            <img style="vertical-align:middle;" aria-hidden
            src= "https://sports.cbsimg.net/images/collegebasketball/logos/50x50/{{team.short}}.png" height="25"/>
            <small>{{team.detail}}</small>
          </mat-option>
        </mat-autocomplete>
        <p *ngIf="showInvalidWarning">You need to complete the form before submitting</p>
        <button mat-raised-button (click)="onSubmit()">Submit</button>
    </form>
</div>
<div *ngIf="!user">
Nothing to see here..
</div>
